<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        [src]="restaurant?.restaurantLogoUrl"
        alt="Logo"
        width="50"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home/providers"
            routerLinkActive="active"
          >
            Proveedores
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home/products"
            routerLinkActive="active"
          >
            Product
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home/employees"
            routerLinkActive="active"
          >
            Empleados
          </a>
        </li>
      </ul>

      <div class="navbar-text">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</nav>

