<main *ngIf="!isLoading; else loadingPage">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</main>

<ng-template #loadingPage>
  <div class="bg-light">
    <div class="vh-100 d-flex align-items-center justify-content-center">
      <div
        class="spinner-grow text-primary"
        style="width: 5rem; height: 5rem"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
