<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bienvenido a {{ restaurant?.restaurantName }}</h1>
      <p>
        Esto es un sistema para administrar el restaurante.
      </p>
    </div>
  </div>
</main>
