.productIndex {
  .table-container {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-top: 20px;
  }

  .table-container .separador {
    margin-top: 20px;
  }

  .separador div {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
  }

  table {
    width: 95%;
    border-collapse: collapse;

    border-radius: 20px;
  }

  th,
  td {
    border: none;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #fff;
    color: rgb(97, 97, 97);
  }

  tr:nth-child(odd) {
    background-color: #f2f8ff;
  }

  tr:nth-child(even) {
    background-color: #ffffff;
  }

  td.eliminar,
  th.eliminar {
    text-align: center;
  }

  td button {
    background: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    margin: 0 5px;
  }

  td button.editar,
  td button.check {
    background: none;
    border: none;
  }

  .ocultar {
    display: none;
  }

  .buscar input {
    width: 300px;
    height: 40px;
    margin: 10px;
    border: none;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 20px;
    padding-left: 10px;
  }

  .buscar {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buscar label {
    font-weight: 600;
  }

  .rojo {
    /* background-color: rgb(152, 68, 226); */
    color: #a63fea;
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
  }

  span {
    font-size: 100px;
    color: #9c4cfe;
    /* text-shadow:
        -3px -3px 0 #a63fea,  
        3px -3px 0 #a63fea,
        -3px 3px 0 #a63fea,
        3px 3px 0 #a63fea; */
  }

  div.pup-up {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #a3a3a371;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.pop-up-container {
    position: relative;
  }

  div.pup-up span {
    position: absolute;
    top: -10px;
    right: -7px;
    background: #fff;
    border-radius: 100px;
    border: 1px solid #a2a2a2;
    padding: 2px;
    cursor: pointer;
  }

  .table-container .pup-up.oculto {
    display: none;
  }

  button#nuevo {
    border-radius: 100px;
    border: #ffffff;
    height: 50px;
    width: 180px;
    background-color: #9c4cfe;
    color: #fff;
  }
}
