<section class="ar-home position-relative">
  <form
    class="form-signin needs-validation"
    [formGroup]="form"
    (submit)="onSubmit()"
    novalidate
  >
    <div class="text-center">
      <img
        class="mb-4"
        src="https://getbootstrap.com//docs/5.3/assets/brand/bootstrap-logo-shadow.png"
        alt=""
        width="125"
        height="100"
      />
      <h1 class="h3 mb-4 font-weight-normal">Iniciar Sesión</h1>
    </div>

    <label for="username" class="sr-only">Nombre de usuario</label>
    <input
      type="text"
      id="username"
      class="form-control"
      placeholder="Ingresa nombre de usuario"
      formControlName="username"
    />
    <div class="text-body-secondary">
      <app-error-messages
        class="error-message text-danger"
        [control]="form.get('username')!"
      ></app-error-messages>
    </div>

    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control mb-3"
      placeholder="Ingresa contraseña"
      formControlName="password"
    />
    <div class="text-body-secondary">
      <app-error-messages
        class="error-message text-danger"
        [control]="form.get('password')!"
      ></app-error-messages>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="isLoading">
      <span *ngIf="!isLoading; else loading">Iniciar sesión</span>

      <ng-template #loading>
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </ng-template>
    </button>
    <p class="mt-5 mb-3 text-muted">JESÚS YELSIN BROLY&copy; 2024</p>
  </form>
</section>
