<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron mt-3">
        <h1>{{ isEdit ? "Editar" : "Crear" }} producto</h1>
        <p class="lead">
          Este ejemplo es un ejercicio rápido para ilustrar cómo funciona la creación y edición de productos.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Nombre del producto</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            formControlName="productName"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Tipo de producto</label>
          <input
            type="text"
            class="form-control"
            placeholder="Tipo de producto"
            formControlName="productType"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Marca del producto</label>
          <input
            type="text"
            class="form-control"
            placeholder="Marca del producto"
            formControlName="productBrand"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Descripción del producto</label>
          <input
            type="text"
            class="form-control"
            placeholder="Descripción del producto"
            formControlName="productDescription"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Cantidad en stock</label>
          <input
            type="number"
            class="form-control"
            placeholder="Cantidad en stock"
            formControlName="productStock"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Precio del producto</label>
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            formControlName="productPrice"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Descuento del producto</label>
          <input
            type="number"
            class="form-control"
            placeholder="Descuento del producto"
            formControlName="productDiscount"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Símbolo de moneda</label>
          <input
            type="text"
            class="form-control"
            placeholder="Símbolo de moneda"
            formControlName="currencySymbol"
          />
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-success">
            <span *ngIf="!isLoading; else loading">Guardar</span>

            <ng-template #loading>
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
