<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron mt-3">
          <h1>{{ isEdit ? "Editar" : "Crear" }} empleado</h1>
          <p class="lead">
            This example is a quick exercise to illustrate how the bottom navbar
            works.
          </p>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label"> Nombre del empleado </label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre del empleado"
              formControlName="employeeName"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Apellido del empleado </label>
            <input
              type="text"
              class="form-control"
              placeholder="Apellido del empleado"
              formControlName="employeeSurname"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Fecha de nacimiento </label>
            <input
              type="text"
              class="form-control"
              placeholder="Fecha de nacimiento"
              formControlName="employeeBirthday"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Teléfono </label>
            <input
              type="text"
              class="form-control"
              placeholder="Teléfono"
              formControlName="employeePhone"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Correo electrónico </label>
            <input
              type="text"
              class="form-control"
              placeholder="Correo electrónico"
              formControlName="employeeEmail"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Tipo de empleado </label>
            <input
              type="text"
              class="form-control"
              placeholder="Tipo de empleado"
              formControlName="employeeType"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Tipo de contrato </label>
            <input
              type="text"
              class="form-control"
              placeholder="Tipo de contrato"
              formControlName="contractType"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Dirección </label>
            <input
              type="text"
              class="form-control"
              placeholder="Dirección"
              formControlName="address"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Fecha de inicio </label>
            <input
              type="text"
              class="form-control"
              placeholder="Fecha de inicio"
              formControlName="startedWork"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Fecha de fin </label>
            <input
              type="text"
              class="form-control"
              placeholder="Fecha de fin"
              formControlName="endedWork"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Salario </label>
            <input
              type="text"
              class="form-control"
              placeholder="Salario"
              formControlName="employeeSalary"
            />
          </div>
  
          <div class="mb-3">
            <button type="submit" class="btn btn-success">
              <span *ngIf="!isLoading; else loading">Guardar</span>
  
              <ng-template #loading>
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </ng-template>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
