<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron mt-3">
        <h1>{{ isEdit ? "Editar" : "Crear" }} proveedor</h1>
        <p class="lead">
          This example is a quick exercise to illustrate how the bottom navbar
          works.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label"> Nombre proveedor </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="providerBussinessName"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Registro único contribuyente </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="providerRuc"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Teléfono </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="providerPhone"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Correo electrónico </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="providerEmail"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> País </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="country"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Departamento </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="departament"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Provincia </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="province"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Distrito </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="district"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Direccion </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="address"
          />
        </div>
        <div class="mb-3">
          <label class="form-label"> Referencia </label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            formControlName="addressReference"
          />
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-success">
            <span *ngIf="!isLoading; else loading">Guardar</span>

            <ng-template #loading>
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
